*{
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


#navbar__logo{
    max-width: 6%;
    max-height: 6%;
}


#navbar__logo img{
    display: flex;
    align-items: center;
    width: 100%;
}

.headline{
    color: white;
    padding-top: .5%;
}
.topnav {
    overflow: hidden;
    background-color: #290101;
    background-image: linear-gradient(to right, rgba(194, 63, 63, 0), rgb(153, 27, 1));
    height: 6vh;
    display: flex;
    justify-content: space-around;
    opacity: .92;
  }
  
  /* Navbar links */
  .topnav a {
    padding-top: 3%;
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .topnav a:hover {
    background-color: rgb(72, 0, 0);
    color: white;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .login-container {
    float: right;
    color: white;
  }

  /* background */
  .background{
    background: linear-gradient(to right, rgba(79, 79, 79, 0.35), rgba(82, 32, 32, 0.134)), url(./images/brewery.jpg);
    /* height: 94vh; */
    background-position: center;
    background-size: cover;
    color: black;
  }

  /* body */
  .body{
      margin-left: 5%;
      position: relative;
      background-color: rgb(25, 24, 24);
      /* height: 100%; */
      min-height: 94vh;
      overflow: auto;
      width: 90%;
      opacity: .938;
      color: aliceblue;
  }
  
  /* for search */
  .search_or_post{
      width: 100%;
      padding-top: 2%;
      text-align: center;
      height: 3vh;
      position: relative;
      display: flex;
      justify-content: space-around;
  }


  .communities{
      display: flex;
      justify-content: space-around;
      font-size: 25x;
      margin-top: 4%;
      padding-top: 1.2%;
      padding-bottom: .5%;
      height: 8.8vh;
      position: relative;
      background: rgb(32, 32, 32);
      opacity: 88%;
      color:rgb(255, 255, 255);
  }

  .communities a{
    color:rgb(255, 255, 255);
    text-decoration: none;
  }

  .communities a:hover{
    color: rgb(255,255,255);
    text-decoration: none;
  }

  .posts{
      position: relative;
  }

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.highlander{
  position: relative;
  /* background-image: url("./images/highlander.jpg"); */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.534)), url(./images/highlander.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 70%;
  /* color: rgb(215, 202, 202); */
  font-size: 1.4rem;
  font-weight: bold;
}

.lofty_towers{
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.534)), url(./images/lofty_towers.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 70%;
  /* color: rgb(230, 219, 219); */
  font-size: 1.4rem;
  font-weight: bold;
}

.prestige{
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.534)), url(./images/prestige.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 70%;
  /* color: rgb(230, 219, 219); */
  font-size: 1.4rem;
  font-weight: bold;
}

.city_heights{
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.534)), url(./images/city_heights.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 70%;
  /* color: rgb(230, 219, 219); */
  font-size: 1.4rem;
  font-weight: bold;
}

.all{
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.534)), url(./images/skyline.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 70%;
  /* color: rgb(230, 219, 219); */
  font-size: 1.4rem;
  font-weight: bold;
}

.posts{
  margin-top: .5%;
  padding-top: .2%;
  margin-left: 5%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(47, 45, 45);
  width: 90%;
}

.main_post{
  margin-top: 2%;
  padding-top: .2%;
  margin-left: 10%;
  margin-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(47, 45, 45);
  width: 70%;
}
.posts h3{
  color:rgb(211, 189, 146);
  font-weight: bold;
}

.posts h4{
  font-weight: bold;
  color: rgb(217, 155, 108);
}

.posts p{
  font-size: 1.2rem;
}
/* for the inner posts printed  */
.inner_post{
  font-size: 1rem;
}

.under_post{
  position: relative;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.create{
  width: 145px;
  height: auto;
  background: rgb(107, 43, 22);
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4%;
}

.create a:hover{
  color: rgb(200, 200, 200);
  text-decoration: none;
}


.error{
  color: red;
  font-size: .8rem;
  font-style: italic;
}

.profile{
  position: inherit;
  display: flex;
  width: 38%;
  justify-content: space-around;
  color:rgb(247, 238, 234);
}

/* .likes{
  position: inherit;
  display: flex;
  width: 7%;
  justify-content: space-between;
} */

.search{
  width: 90%;
  display: flex;
}

.body2{
  margin-left: 5%;
  position: relative;
  background-color: rgb(194, 182, 182);
  /* height: 100%; */
  min-height: 94vh;
  overflow: auto;
  width: 90%;
  opacity: .938;
  color: rgb(63, 42, 42);
}

.votes{
  width: 25%;
  display: flex;
  justify-content: space-around;
  z-index: 99999999999!important;
}

#skyline{
  width: 100%;
  height: 18vh;
}

.card_details{
  background: rgb(68, 59, 59);
  color: black;
  min-height: 94vh;
  width: 50%;
  margin-left: 22%;
}

.card_title{
  position: relative;
  color: #d9d9d9;
  padding-left: 26%;
}